@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.light.ttf) format(ttf);
    src: url(/font_Fadventure/Coco/coco-gothic.regular.ttf) format(ttf);
    font-weight: 400;
    font-style:normal;
}

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.bold.ttf);
    font-weight: 900;
    font-style: normal;
}

/*--------------------FOOTER--------------*/

footer {
    text-align: center;
    border: solid 10px;
    background: rgba(51, 49, 49, 0.788);
    padding: 50px;
    color: rgb(10, 1, 1);
}

footer, .footer {
    color: white;
    margin: 0px 30px;
    text-transform:none ;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

@media screen and (min-width: 800px) {
    footer {
        
       justify-content: center;
    }
}
       
      


@media screen and (max-width: 800px) {
    footer {
        margin-top: 100px;
       justify-content: center;
       /*padding: ;*/
       margin: 0px 70px 0px 70px;
       /*box-shadow: 2px 0px 20px 0px rgb(163, 223, 163);*/
    }
}