@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.light.ttf) format(ttf);
    src: url(/font_Fadventure/Coco/coco-gothic.regular.ttf) format(ttf);
    font-weight: 400;
    font-style:normal;
}

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.bold.ttf);
    font-weight: 900;
    font-style: normal;
}

/*--------------------LOGO DE LA EMPRESA--------------*/
.logo{
    width: 100%;
   
}



/*--------------------BOTON HAMBURGUESA--------------*/

button, .butto {
    margin-left: 70px;
    padding: 0px 0px 40px;
    width: 30px;
    border: none;
    background: none;
    justify-self: center;
    cursor: pointer;
    position: absolute
    
}

@media screen and (min-width: 780px) {
    .butto {
       display: none;
    }
    
}

@media screen and (max-width: 780px) {
    .logo {
        align-items: center;
        width: 170px;
    }
    
}



/*--------------------CARRITO DE COMRRA--------------*/
.cart{
    width: 35px;
    justify-self: end;
    
}




nav {
    margin: 0px 0px 0px 90px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
 
  
}

a {
    
    justify-self: left;
    margin: 0px 0px 0px 200px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: coco;
}

@media screen and (max-width: 768px) {
    a {
       display: none;
    }
    nav {
        margin: 0;
    }
}





nav> .a {
    justify-self:center;
    color:black;
}
/*--------------------h1--------------*/
h1{
    text-align: center;
    font-family: coco;
    font-size: 4rem;
    margin-top: 250px;
    margin-bottom: 250px;
}
/*--------------------FOOTER--------------*/

footer {
    text-align: center;
    border: solid 10px;
    background: rgba(51, 49, 49, 0.788);
    padding: 50px;
    color: rgb(10, 1, 1);
   
}

footer, .footer {
    color: white;
    margin: 0px 30px;
    text-transform:none ;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

@media screen and (min-width: 800px) {
    footer {
        
       justify-content: center;
    }
}
       
      


@media screen and (max-width: 800px) {
    footer {
        margin-top: 100px;
       justify-content: center;
       /*padding: ;*/
       margin: 0px 70px 0px 70px;
       /*box-shadow: 2px 0px 20px 0px rgb(163, 223, 163);*/
    }
}