@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.light.ttf) format(ttf);
    src: url(/font_Fadventure/Coco/coco-gothic.regular.ttf) format(ttf);
    font-weight: 400;
    font-style:normal;
}

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.bold.ttf);
    font-weight: 900;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 150px;
    
}
.cart{
    width: 40px;
}
video{
    width: 600px;
    border-radius: 30px;
        
}
nav, a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
li, img{
    border-radius: 100px;
   
}

ul{
   display: grid;
   grid-template-columns: 1fr 1fr;
 
}

.legal{
    text-align: center;
}