@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.light.ttf) format(ttf);
    src: url(/font_Fadventure/Coco/coco-gothic.regular.ttf) format(ttf);
    font-weight: 400;
    font-style:normal;
}

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.bold.ttf);
    font-weight: 900;
    font-style: normal;
}

*{
    margin: 0;
    padding: 20;
    box-sizing: border-box;
}

.logo{
    width: 150px;
    margin: 20px;
    
}
.cart{
    width: 40px;
}
video {
    margin-left: 20px;
    border-radius: 30px;
    
   
   
}
nav, a{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-decoration: none;
    text-align: center;
}

h2{
    text-align: center;
}

li, img{
    border-radius: 100px;
   
}

ul,img {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(5, 1fr);
   list-style: none;
}

p{
    text-align: justify;
    width: 250px;
}
.experiencia{
    width: 120rem;
    
}

footer{
    text-align: center;
    margin: 40px;
}