@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.light.ttf) format(ttf);
    src: url(/font_Fadventure/Coco/coco-gothic.regular.ttf) format(ttf);
    font-weight: 400;
    font-style:normal;
}

@font-face {
    font-family: "coco";
    src: url(/font_Fadventure/Coco/coco-gothic.bold.ttf);
    font-weight: 900;
    font-style: normal;
}
h1 {
    font-family: "Coco", normal;
    font-style: normal;
    text-align: center;

}

h2, p {
    font-family: "coco", normal;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    
}
h2 {margin-bottom: 0;}
p {
    margin-top: 0;
   margin-bottom: 0 ;
}

h3{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-right: 10px;
}

.bungee{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.bungee img{
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

button{
    background-color: black;
    border-radius: 42px;
    color: white;
    font-family: "coco", normal;
    font-size: 16px;
    font-weight: 200;
    font-style: light;
    width: 100px;
    height: 40px; 

    
    
}

.compra{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.surf img {
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

.surf {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}



.ski img {
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

.ski {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} 


.parapente img {
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

.parapente {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} 

.trekking img {
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

.trekking {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} 

.paddlesurf img {
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

.paddlesurf {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} 

.nieve img {
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

.nieve {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} 

.kayak img {
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

.kayak {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} 

.cabalgata img {
    border-radius: 42px;
    width: 300px;
    margin: 0 auto;
}

.cabalgata {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} 





